<ion-header>
  <ion-navbar>
    <ion-title>Fit to Fight</ion-title>
	<ion-buttons end>
	<ion-badge item-right>{{formData.waist}}</ion-badge>
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-list>
     
	<!--Gender--> 
	<ion-item>
	  <ion-label>Gender1:</ion-label>
	  <ion-select [(ngModel)]="formData.gender" multiple="false">
		<ion-option>Male</ion-option>
		<ion-option>Female</ion-option>
	  </ion-select>
	</ion-item>
	  
	  <!--Age-->
	  <ion-item>
		<ion-label fixed>Age:</ion-label>
		<ion-input type="number" value=""></ion-input>
	  </ion-item>
	  
	  <!--Waist-->
	  <ion-item>
		<ion-label fixed>Waist:</ion-label>
		<ion-input type="number" [(ngModel)]="formData.waist" value=""></ion-input>
		<ion-item>
		<ion-checkbox></ion-checkbox>
		</ion-item>
		<button ion-button icon-only clear item-right (click)="toggle()">
          <ion-icon name="md-swap"></ion-icon>
        </button>
		<ion-badge item-right>{{formData.waist}}</ion-badge>
	  </ion-item>
	  
	  <!-- Waist Slider -->
	  <ion-item *ngIf="tof">
		<ion-range min="0" max="100" [(ngModel)]="formData.waist">
		  <ion-label range-left>0</ion-label>
		  <ion-label range-right>100</ion-label>
		</ion-range>
	  </ion-item>
	  
	  <!--Situps-->
	  <ion-item>
		<ion-label fixed>Situps:</ion-label>
		<ion-input type="number" [(ngModel)]="formData.situps" value=""></ion-input>
		<button ion-button icon-only clear item-right (click)="togglesu()">
          <ion-icon name="md-swap"></ion-icon>
        </button>
		<ion-badge item-right>{{formData.situps}}</ion-badge>
	  </ion-item>
	  
	  <!-- Situps Slider -->
	  <ion-item *ngIf="tofsu">
		<ion-range min="0" max="100" [(ngModel)]="formData.situps" >
		  <ion-label range-left>0</ion-label>
		  <ion-label range-right>100</ion-label>
		</ion-range>
	  </ion-item>
	  
	  <!-- Pushups -->
	  <ion-item>
		<ion-label fixed>Pushups:</ion-label>
		<ion-input type="number" [(ngModel)]="formData.pushups" value=""></ion-input>
		<button ion-button icon-only clear item-right (click)="togglepu()">
          <ion-icon name="md-swap"></ion-icon>
        </button>
		<ion-badge item-right>{{formData.pushups}}</ion-badge>

	  </ion-item>

	  <!-- Pushups Slider -->
	  <ion-item *ngIf="tofpu">
		<ion-range min="0" max="100" [(ngModel)]="formData.pushups" >
		  <ion-label range-left>0</ion-label>
		  <ion-label range-right>100</ion-label>
		</ion-range>
	  </ion-item>
	  
	  <!-- Cardio Type -->
	  <ion-item>
	    <ion-label>Cardio Type:</ion-label>
	      <ion-select [(ngModel)]="formData.cardioType" multiple="false">
		    <ion-option>Walk</ion-option>
		    <ion-option>Run</ion-option>
	      </ion-select>
	  </ion-item>
	  
	  <!-- Cardio Time -->
	  <ion-item>
		<ion-label>Cardio Time:</ion-label>
		<ion-datetime displayFormat="HH:mm" [(ngModel)]="formData.cardioTime"></ion-datetime>
		<ion-badge item-right>{{formData.cardioTime}}</ion-badge>
	  </ion-item>
</ion-list>
<button ion-button full color="light">Save</button></ion-content>
